---
import { Image } from "astro:assets";
import Knap from "src/assets/images/vector/Knap.svg";
import Pil from "src/assets/images/icons/ArrowGold.svg";
const { link = "", text = "" } = Astro.props;
---

<a href={link}>
  <div class="flex items-center cursor-pointer">
    <div class="relative w-40 h-64 flex justify-center items-center">
      <div class="absolute inset-0 animate-[spin_20s_linear_infinite]">
        <img src="src/assets/images/vector/KnapBlack.svg" alt="" class="w-full h-full" />
      </div>
      <div class="absolute inset-0 animate-[spin_10s_linear_infinite_reverse]">
        <img src="src/assets/images/vector/KnapBlack.svg" alt="" class="w-full h-full" />
      </div>

      <img src="src/assets/images/icons/ArrowBlack.svg" alt="" />
    </div>
    <div>
      <p class="text-MarketMidnight-500">{text}</p>
    </div>
  </div>
</a>
