@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-display: "Boogaloo", serif;

  --color-HarvestRose-200: #eec5c8;
  --color-HarvestRose-300: #e4a6ab;
  --color-HarvestRose-500: #d26b74;
  --color-HarvestRose-600: #c03d48;

  --color-MarketMidnight-500: #0f200b;

  --color-ForestFresh-500: #2a4837;
  --color-ForestFresh-opacity: #2a48372c;

  --color-GoldenGrain-300: #eadeb6;
  --color-GoldenGrain-500: #dbc885;

  --color-CreamCanvas-500: #f0eae2;

  --color-MarketLinen-500: #ffffff;
  --color-MarketLinen-800: #666666;

  --animate-bounce: bounce 3s infinite;

  --breakpoint-1480: 1480px;
  --breakpoint-1130: 1130px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  h1 {
    @apply text-6xl lg:text-7xl font-display;
  }
  h2 {
    @apply text-[32px] lg:text-[54px] leading-[38px]  lg:leading-[50px] font-display;
  }
  h3 {
    @apply text-[25px]  lg:text-[40px] font-display;
  }
  h4 {
    @apply text-xl lg:text-2xl font-display;
  }
  p {
    @apply text-sm lg:text-base max-w-[576px];
  }

  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
  }
}
@layer utilities {
}
