---

---

<article class="bg-[#2A4837] grid grid-rows-3 w-100 m-auto rounded-3xl overflow-hidden">
  <div class="row-span-1 bg-[url(src/assets/images/carousel/Jordbær.webp)] bg-cover">
    <img class="ml-auto pt-2 pr-2" src="src/assets/images/icons/Kryds.svg" alt="Kryds icon" />
    <h2 class="text-white text-center">Overskrift</h2>
  </div>
  <div class="row-span-2 p-5">
    <p class="text-white">Underoverskrift</p>
    <p class="text-white">Brødtekst</p>
    <button class="text-white">Knap tekst</button>
  </div>
</article>
