---
import { StickyScrollReveal } from "@/components/animationer/StickyScroll";
import MainLayout from "../layouts/MainLayout.astro";
import FAQ from "@/components/FAQ.astro";
import HeroBackground from "@/components/HeroBackground.astro";
import UdoverMarkederne from "@/components/UdoverMarkederne.astro";
import b1 from "src/assets/images/arrangementer/1.webp";
import Carrot from "src/assets/images/vector/Carrot.svg";
import Leaf from "src/assets/images/vector/Leaf.svg";
import Recycle from "src/assets/images/vector/Recycle.svg";
import HvorforIcons from "@/components/HvorforIcons.astro";
import Grøntsager from "src/assets/images/illustrationer/Grøntsager.webp";
import Bær from "src/assets/images/illustrationer/Bær3.webp";
import { Image } from "astro:assets";
---

<MainLayout title="Mere end et marked">
  <HeroBackground
    title="Arrangementer"
    text="Grønt Marked samler mennesker om <strong>kærligheden til ægte </strong>, <strong>lokal mad</strong> og <strong>ansvarlig produktion</strong>. Vi er en bevægelse, der hylder fællesskab, håndværk og sæsonens smag – både gennem vores søndagsmarkeder og Grønt Marked Køkken. <br> <br> På denne side kan du se, hvordan vi arbejder med mad, mennesker og idéer – ud over søndagsmarkederne."
    image={b1}
  />
  <section class="px-5 lg:px-[167px] mb-20 layout relative">
    <Image
      src={Grøntsager}
      alt="Tegnet grøntsager"
      class="absolute -top-30 md:top-[-60px] right-0 h-40 md:h-50 lg:h-80 w-auto hidden sm:block"
    />

    <h2 class="mb-[24px] text-MarketMidnight-500 max-w-150">
      Book Grønt Marked køkken til din næste begivenhed
    </h2>
    <p class="mb-[24px] text-MarketMidnight-500">
      Skal du arrangere en middag, workshop eller et firmaevent? Book Grønt Marked Køkken og få en
      unik madoplevelse med fokus på bæredygtighed og sæsonens råvarer.
      <br /><br />
      Vores kokke inviterer jer med på en smagsrejse gennem årstiderne – med friskplukkede, lokale råvarer
      og masser af inspiration til, hvordan I selv kan lave klimavenlig mad. Uanset om I er en mindre
      gruppe eller et større selskab, skræddersyr vi oplevelsen til jer.
      <br /><br />
      Book catering, privat middag, workshop eller en event med Markedskøkkenet i dag.
    </p>
  </section>

  <div class="flex flex-col justify-center">
    <StickyScrollReveal client:load />
    <UdoverMarkederne />
    <div class="relative w-full layout px-5 lg:px-[167px]">
      <Image
        src={Bær}
        alt="Illustration af blomst"
        class="absolute top-0 right-20 h-50 lg:h-60 w-auto z-1 hidden sm:block"
      />
      <HvorforIcons
        title1="Lokale råvarer med omtanke"
        text1="Vi samarbejder med små, danske producenter og bruger kun sæsonens bedste råvarer – økologisk og bæredygtigt dyrket."
        title2="Mad med mening og smag"
        text2="Vores retter er lavet med respekt for råvarerne – og med kærlighed til god smag og ægte håndværk."
        title3="Støt en madbevægelse i balance"
        text3="Når du vælger os, støtter du et mere fair og ansvarligt fødevaresystem – og en grønnere fremtid."
        icon1={Carrot}
        icon2={Leaf}
        icon3={Recycle}
      />
    </div>
    <FAQ />
  </div>
</MainLayout>
