---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import PathDashed from "../components/animationer/PathDashed.astro";
import Markedsbod from "../components/Markedsbod.astro";
import FAQ from "@/components/FAQ.astro";
import ProfileCarousel from "@/components/animationer/profile-carousel";
import ScrollCarousel from "@/components/animationer/scroll-carousel";
import GridCard from "@/components/cards/GridCard1_1.astro";
import Lokationer from "@/components/Lokationer.astro";
import OsBagGM from "@/components/OsBagGM.astro";
import HeroBackground from "@/components/HeroBackground.astro";
---

<MainLayout title="Forside">
  <HeroBackground
    title="Grønt Marked"
    tsize="text-[180px]"
    text="Grønt Marked er en <strong>non-profit organisation</strong> i København. Vores ambition er at gøre lokal, frisk og sæsonbestemt mad <strong>tilgængeligt for alle</strong>, samt at skabe en sund og stærk forbindelse mellem producenterne på landet og folket i byen. Vi er glade for at du besøger vores <strong>univers</strong>!"
    image="forside/1.webp"
    btext="Støt Grønt Marked"
    link="/stoet"
  />
  <GridCard
    image="forside/2.webp"
    title="Velkommen til Grønt Marked"
    text1="Når du besøger vores markeder, møder du ikke bare producenterne ansigt til ansigt – du bliver en del af en bevægelse, der forbinder byen med jorden og sæsonens rytme."
    text2="Men vi stopper ikke der. Uden for markedets boder skaber vi også events, fællesspisninger og samarbejder som styrker den lokale madkultur og den grønne omstilling. Vi tror på at forandring starter med fællesskab, og vi har brug for flere der vil være med."
    text3="Vi søger altid frivillige hænder, engagerede medlemmer og folk som har lyst til at støtte vores arbejde. Og hvis du er producent, vil vi altid opfordre dig til at besøge producent-siden, som du finder øverst i menuen."
    button1="Læs mere om os"
    link1="/om-os"
    button2="Bliv producent"
    extra="no"
  />
  <Lokationer loading="lazy" />
  <GridCard
    image="forside/7.webp"
    title="Udover ugentlige markeder"
    text1="Grønt Marked er meget mere end et sted at handle. Det er også et levende fællesskab, hvor du kan komme tættere på jorden og dem, der dyrker den. "
    text2="Udover markedsdagene inviterer vi løbende til aktiviteter og begivenheder, hvor der er plads til nysgerrighed, samtale og fælles oplevelser – for alle, uanset erfaring:"
    dot1="Gårdbesøg"
    dot2="Workshops"
    dot3="Fællesspisninger"
    dot4="Markedskøkken (kan bookes)"
    dot5="WFMC"
    button1="Se vores arrangementer"
    link1="/arrangementer"
    direction="-reverse"
  />
  <ScrollCarousel client:only />
  <OsBagGM />
  <ProfileCarousel client:load />
  <FAQ />
  <div class="bg-[url(src/assets/images/footer_billede.webp)] bg-cover w-full h-200"></div>
</MainLayout>

<style></style>
