---
import HeroBackground from "@/components/HeroBackground.astro";
import MainLayout from "../layouts/MainLayout.astro";
import KalenderGrid from "@/components/KalenderGrid.astro";
import { StickyScrollReveal } from "@/components/animationer/StickyScroll";
import FAQ from "@/components/FAQ.astro";
import b1 from "src/assets/images/kalender/1.webp";
---

<MainLayout title="Kalender">
  <HeroBackground
    title="Kalender"
    text="I vores kalender kan du se, hvornår og hvor de <strong>kommende markeder</strong> finder sted. Uanset om du er fast besøgende eller ny i fællesskabet, giver kalenderen dig et overblik over datoer og lokationer, så du nemt kan <strong>planlægge dit besøg</strong> og <strong>støtte lokale producenter</strong>. <br/>Herunder finder du kalenderen, hvor du både kan booke oplevelser eller downloade den direkte til din egen kalender."
    image={b1}
    bg="bg-GoldenGrain-300"
  />

  <KalenderGrid />
  <section class="px-5 mt-[64px] sm:mt-[163px] lg:px-[167px] layout">
    <h2 class="mb-[24px] text-MarketMidnight-500 max-w-150">
      Book Grønt Marked køkken til din næste begivenhed
    </h2>
    <p class="mb-[80px] text-MarketMidnight-500">
      Skal du arrangere en middag, workshop eller et firmaevent? Book Grønt Marked Køkken og få en
      unik madoplevelse med fokus på bæredygtighed og sæsonens råvarer.
      <br /><br />
      Vores kokke inviterer jer med på en smagsrejse gennem årstiderne – med friskplukkede, lokale råvarer
      og masser af inspiration til, hvordan I selv kan lave klimavenlig mad. Uanset om I er en mindre
      gruppe eller et større selskab, skræddersyr vi oplevelsen til jer.
      <br /><br />
      Book catering, privat middag, workshop eller en event med Markedskøkkenet i dag.
    </p>
  </section>

  <StickyScrollReveal client:load />
  <FAQ />
</MainLayout>
