---
import GridCard from "@/components/cards/GridCard1_1.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import b1 from "src/assets/images/log-ind/1.webp";
import Hjørne from "src/assets/images/vector/HjørneGreen.svg";
import VectorProducent from "src/assets/images/vector/HeroProducent.svg";
import Bær from "src/assets/images/illustrationer/Bær.webp";
import Grøntsager3 from "src/assets/images/illustrationer/Grøntsager3.webp";
import Button from "@/components/Button.astro";
---

<MainLayout variant="secondary" title="Mød producenterne" ig="hidden" class="relative">
  <Image class="absolute -top-10 w-full h-auto" src={VectorProducent} alt="Grøn vector baggrund" />
  <Image
    src={Bær}
    alt="Illustration af bær"
    class="h-40 w-auto absolute top-20 left-2 rotate-300 hidden sm:block"
  />
  <div class="h-[146px] sm:h-0 bg-ForestFresh-500"></div>
  <section class="relative sm:hidden mb-[60px]">
    <Image src={b1} alt="Producent" class="w-full h-100 object-cover mb-[24px]" />
    <nav class="text-MarketMidnight-500 mt-1 mb-5 ml-5" aria-label="Breadcrumb">
      <ol class="flex space-x-2 text-sm">
        <li>
          <a href="/producent" class="opacity-50 hover:underline">Producent sektionen</a>
        </li>
        <li>/</li>
        <li class="underline">Log ind</li>
      </ol>
    </nav>
    <h1
      class="text-MarketLinen-500 absolute flex justify-center top-20 left-16 bg-ForestFresh-opacity"
    >
      Bliv en del af <br /> Grønt Marked
    </h1>
    <div class="px-5">
      <h2 class="text-MarketMidnight-500 mb-[24px]">Ansøg nu eller log ind</h2>
      <p class="text-MarketMidnight-500 mb-[24px]">
        Vil du være producent hos Grønt Marked? Så start med at læse vores forventninger og
        retningslinjer, inden du sender din ansøgning.
      </p>
      <p class="text-MarketMidnight-500 mb-[24px]">
        Har du allerede en profil eller sendt en ansøgning, kan du logge ind for at se din
        brugerprofil.
      </p>
      <a href="https://groentmk.mymarket.org/" target="_blank">
        <Button variant="primary" size="large">Log ind</Button></a
      >
      <a href="https://groentmk.mymarket.org/forms/signup" target="_blank">
        <Button variant="secondary" size="large">Ansøg nu</Button></a
      >
    </div>
  </section>
  <section class="hidden pt-[250px] sm:block relative">
    <nav class="text-MarketMidnight-500 -mt-20 mb-10 ml-[167px]" aria-label="Breadcrumb">
      <ol class="flex space-x-2 text-base">
        <li>
          <a href="/producent" class="opacity-50 hover:underline">Producent sektionen</a>
        </li>
        <li>/</li>
        <li class="underline">Log ind</li>
      </ol>
    </nav>
    <GridCard
      image={b1}
      title="Bliv en del af Grønt Marked"
      text1="Vil du være producent hos Grønt Marked? Så start med at læse vores forventninger og retningslinjer, inden du sender din ansøgning."
      text2="Har du allerede en profil eller sendt en ansøgning, kan du logge ind for at se din brugerprofil."
      button1="Log ind"
      link1="https://groentmk.mymarket.org/"
      target1="_blank"
      button2="Ansøg nu"
      link2="https://groentmk.mymarket.org/forms/signup"
      target2="_blank"
    />
    <Image
      src={Grøntsager3}
      alt="Illustration af grøntsager"
      class="absolute -bottom-20 right-15 h-60 w-auto z-1"
    />
  </section>
</MainLayout>
