---
import GridCard from "@/components/cards/GridCard1_1.astro";
import FAQ from "@/components/FAQ.astro";
import Producenter from "@/components/filter/producenterne";
import HeroBackground from "@/components/HeroBackground.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import b1 from "src/assets/images/producenterne/1.webp";
import b2 from "src/assets/images/producenterne/2.webp";
import b3 from "src/assets/images/producenterne/3.webp";
---

<MainLayout title="Mød producenterne">
  <HeroBackground
    title="Mød producenterne"
    text="<i>“Vi hos Grønt Marked mener, at <strong>høj kvalitet</strong> i råvarer kun er mulig, når der er <strong>fokus på dyrevelfærd</strong>, respekt for vores jord og miljø, gennemsigtighed i forretning samt social <strong>ansvarlighed</strong> for alle mennesker involveret”.</i><br/><br/>Kristina fra Tir Bakery"
    image={b1}
    btext="Bliv producent hos Grønt Marked"
    link="/producent"
  />
  <GridCard
    image={b2}
    title="Menneskene bag råvarene"
    text1="Når du besøger et Grønt Marked, vil du møde producenter, der deler værdier og er dybt passionerede omkring dem. Som organisation er vi både stolte og taknemmelige for at samarbejde med kvinder og mænd, der repræsenterer fremtidens madsystem, som vi ser det. "
    text2="De arbejder i småskala, ude i marken, hvor de sår, kultiverer, høster, maler, brygger og destillerer – og de arbejder utrætteligt hele året rundt for at skabe de friskeste og mest nærende råvarer til folket. Samtidig plejer de og støtter de økosystemer, de forvalter, og kæmper for et holistisk, regenerativt landbrug."
    extra="no"
  />
  <GridCard
    image={b3}
    title="Tættere på producenterne"
    text1="Efter vores opfattelse udgør producenterne en uundværlig og uerstattelig del af madproduktionen i Danmark, og vi er glade for at kunne tilbyde dem en ekstra platform til at dele deres råvarer og budskab med storbyens beboere."
    text2="Industrialiseringen af mad har gjort os langt mere distancerede fra vores dyrkere, bønder og jordbrugere. Næste gang du besøger markedspladsen, opfordrer vi dig til at stille spørgsmål om deres grøntsagssorter, deres mælk, deres arbejdsdag, deres regenerative afgræsning, deres dyrefoder og deres slagteri."
    text3="Hvis du kunne tænke dig at blive producent på Grønt Marked, kan du besøge vores side for producenter ved at trykke på knappen."
    button1="Bliv producent"
    link1="/producent"
    direction="-reverse"
    extra="no"
  />
  <h3 class="mb-6">Se producenterne hos Grønt Marked</h3>
  <Producenter client:load />

  <FAQ />
</MainLayout>
