---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "desktoplarge", link = "" } = Astro.props;

// Definer den styling (Tailwind classes), der gælder for alle knapper
const buttonStyling = "rounded-[20px] transition duration-300";

("h-[41px] px-[20px] rounded-[20px] text-sm cursor-pointer");
// Definer den styling (Tailwind classes), der gælder for de forskellige varianter
const variantClasses = {
  primary:
    "bg-HarvestRose-600 hover:bg-HarvestRose-500 text-MarketLinen-500 drop-shadow-xl cursor-pointer",
  secondary:
    "border-2 border-MarketMidnight-500  text-MarketMidnight-500 hover:border-2 hover:text-black cursor-pointer pulseButton",
};

// Definer den styling (Tailwind classes), der gælder for de forskellige størrelser
const sizeClasses = {
  large: "px-[32px] py-[10px] text-xs md:text-sm",
};
---

<!-- Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "pulseButton"]}>
  <slot />
</button>

<script>
  import { animate } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".pulseButton");

    buttons.forEach((button) => {
      button.addEventListener("mouseenter", () => {
        animate(
          button,
          { scale: [1, 1.4, 1] }, // Pulse effect
          { duration: 1, easing: "ease-in-out" }
        );
      });
    });
  });
</script>
