---
import { Image } from "astro:assets";
import Accordion from "./Accordion.astro";
import Hjørne from "src/assets/images/vector/HjørneRose.svg";
---

<Image class="ml-auto mb-[-1px]" src={Hjørne} alt="" />
<section class="bg-[#EEC5C8] w-full py-[163px]">
  <div class="layout">
    <h2 class="text-MarketMidnight-500 mb-[34px]">Ofte stillede spørgsmål</h2>
    <div class="flex flex-row flex-wrap gap-x-[119px]">
      <div>
        <Accordion atitle="Hvorfor et bondemarked?" atext="Grønt Marked er skabt ud fra ønsket om at bringe landmænd og forbrugere tættere på hinanden. Vi mener, at landmænd skal have mulighed for at sælge deres varer til en fair pris – direkte til dem, der spiser maden. Samtidig skal forbrugere have adgang til frisk, lokal, sæsonbestemt og sund mad.<br> <br> Markedet fungerer som et vigtigt bindeled, hvor unødvendige mellemled skæres væk, og hvor ægte relationer kan opstå. Her handler det ikke kun om mad – men også om tillid, transparens og fællesskab. Grønt Marked er et alternativ til den traditionelle fødevarehandel, hvor nærhed, kvalitet og menneskelig kontakt er i centrum." />
        <Accordion atitle="Hvilke produkter og producenter finder jeg på markedet?" atext="På Grønt Marked finder du et bredt udvalg af lokale, sæsonbestemte og bæredygtige produkter. Udvalget spænder fra grøntsager, frugt, svampe, korn og blomster til etisk producerede animalske varer som æg, ost, mælk, kød og pålæg.Du kan også gå på opdagelse i håndlavede specialiteter som eddiker, spiritus, syltetøj og fermenterede produkter – alt sammen fremstillet med fokus på kvalitet, bæredygtighed og lokale råvarer.<br> <br>Vil du vide mere om vores krav til producenterne, kan du læse vores retningslinjer på  <a href='/producent'><u><strong>Producentsiden</strong></u></a>." />
        <Accordion atitle="Hvem står bag markederne?" atext="Grønt Marked er drevet af et fællesskab af landmænd, frivillige, venner og ildsjæle – alle med et fælles ønske om at fremme lokal, bæredygtig madkultur. Projektet bygger på engagement, samarbejde og lysten til at skabe en mere gennemsigtig og nærværende fødevarehandel.<br><br>Vil du vide mere om Grønt Markeds historie og menneskene bag, kan du læse videre under <a href='/om-os'><u><strong>Om os</strong></u></a>." />
        <Accordion atitle="Hvordan kan jeg være med?" atext="Der er mange måder at blive en del af Grønt Marked på. Du kan melde dig som frivillig og hjælpe til på markedsdage, blive medlem og støtte op om fællesskabet – eller bidrage økonomisk og være med til at sikre markedets drift og udvikling. Uanset hvordan du vælger at være med, gør din indsats en forskel. Vi elsker at møde nye ansigter, dele idéer og skabe noget sammen.<br><br> Læs mere om dine muligheder under siden <a href='/stoet'><u><strong>Støt</strong></u></a>." />
      </div>
      <div>
        <Accordion atitle="Kan I organisere et marked til min begivenhed?" atext="Grønt Marked kan desværre ikke bookes som et indslag til private eller kommercielle arrangementer. Markederne er skabt som en fast, tilbagevendende mulighed for at handle direkte med lokale producenter – ikke som underholdning, men som et seriøst alternativ til den traditionelle fødevarehandel.<br><br>Men! Vi laver mange andre spændende ting, du godt kan booke. Vi tilbyder blandt andet catering med sæsonens bedste råvarer og arrangerer forskellige events, smagninger og workshops i samarbejde med vores producenter.<br><br>Du kan læse mere om dine muligheder under siden <a href='/arrangementer'><u><strong>Arrangementer</strong></u></a> eller kontakte os direkte på hello@groentmarked.dk." />
        <Accordion atitle="Hvilke betalingsformer modtager I?" atext="Alle producenterne modtager MobilePay og kontanter. Nogle af dem kan også tage imod kort." />
        <Accordion atitle="Sælger I plastikposer?" atext="Vi sælger ikke plastikposer, men tilbyder genbrugelige net lavet af økologisk bomuld, som du kan købe og bruge igen og igen. På den måde kan du være med til at mindske plastikforbruget og passe på miljøet.<br><br>Vi anbefaler dog altid, at du medbringer dine egne poser hjemmefra, så du er bedst forberedt, når du handler hos vores producenter." />
        <Accordion atitle="Er der læ i tilfælde af regn?" atext="Grønt Marked foregår primært under åben himmel, så der er ikke meget læ, hvis det regner. Vi anbefaler derfor at klæde sig efter vejret og medbringe paraply eller regntøj, så du kan nyde markedet uanset vejrforholdene." />
      </div>
    </div>
  </div>
</section>
<Image class="mt-[-1px] rotate-180" src={Hjørne} alt="" />
