---
import Accordion from "./Accordion.astro";
---

<img class="ml-auto mb-[-1px]" src="src/assets/images/vector/HjørneRose.svg" alt="" />
<section class="bg-[#EEC5C8] py-10 px-10">
  <h2>Ofte stillede spørgsmål</h2>
  <div class="flex flex-row flex-wrap justify-center gap-x-[68px]">
    <div>
      <Accordion atitle="Hvorfor et bondemarked?" atext="Hej" />
      <Accordion atitle="Hvilke produkter og producenter finder jeg på markedet?" atext="" />
      <Accordion atitle="Hvem står bag markederne?" atext="" />
      <Accordion atitle="Hvordan kan jeg være med?" atext="" />
    </div>
    <div>
      <Accordion atitle="Kan Grønt Marked organisere et marked til min begivenhed?" atext="" />
      <Accordion atitle="Hvilke betalingsformer modtager I?" atext="" />
      <Accordion atitle="Sælger I plastikposer?" atext="" />
      <Accordion atitle="Er der læ i tilfælde af regn?" atext="" />
    </div>
  </div>
</section>
<img class="mt-[-1px] rotate-180" src="src/assets/images/vector/HjørneRose.svg" alt="" />
