---
import { Image } from "astro:assets";
import Logo from "../assets/images/GM_logo.svg";
import footer from "../assets/images/VektorFooter.svg";
import footerBillede from "../assets/images/footer_billede.webp";
import IG from "../assets/images/icons/Instagram.svg";
import FB from "../assets/images/icons/Facebook.svg";
import Newsletter from "./Newsletter.astro";
---

<div
  class="flex items-end bg-[url(src/assets/images/VektorFooter.svg)] bg-cover w-full h-100 min-h-screen z-10"
>
  <div class="w-full flex flex-col flex-wrap ml-10 z-10">
    <div class="w-1/2 flex justify-items-start mb-25">
      <Newsletter />
    </div>

    <div class="w-full flex justify-between flex-wrap pb-15 px-10">
      <a href="/">
        <Image src={Logo} alt="Logo" />
      </a>

      <div class="flex gap-20">
        <div>
          <p class="text-MarketLinen-500 text-base font-bold pb-5">Genveje</p>
          <p class="pb-3 text-base text-MarketLinen-500">Støt os</p>
          <p class="pb-3 text-base text-MarketLinen-500">Kalender</p>
          <p class="pb-3 text-base text-MarketLinen-500">Bliv producent</p>
        </div>
        <div>
          <p class="text-MarketLinen-500 text-base font-bold pb-5">Sider</p>
          <p class="pb-3 text-base text-MarketLinen-500">Om os</p>
          <p class="pb-3 text-base text-MarketLinen-500">Vilkår og betingelser</p>
          <p class="pb-3 text-base text-MarketLinen-500">Ressourcer</p>
        </div>
        <div>
          <p class="text-MarketLinen-500 text-base font-bold pb-5">Kontakt</p>
          <p class="pb-3 text-base text-MarketLinen-500">hello@groentmarked.dk</p>
        </div>
      </div>
      <div class="flex justify-items-end">
        <Image src={IG} alt="Logo" />
        <Image src={FB} alt="Logo" />
      </div>
    </div>
  </div>
</div>
