---
import { Image } from "astro:assets";
import Logo from "../assets/images/GM_logo.svg";
import footer from "../assets/images/VektorFooter.svg";
import footerBillede from "../assets/images/footer_billede.webp";
import IG from "../assets/images/icons/Instagram.svg";
import FB from "../assets/images/icons/Facebook.svg";
import Newsletter from "./Newsletter.astro";
---

<div
  class="flex items-end bg-[url(src/assets/images/VektorFooter.svg)] bg-cover w-full min-h-screen z-10"
>
  <div class="w-full flex flex-col flex-wrap ml-10 z-10">
    <div class="w-1/2 flex justify-items-start mb-10">
      <Newsletter />
    </div>

    <div class="w-full flex justify-between flex-wrap pb-15 px-10">
      <a href="/">
        <Image src={Logo} alt="Logo" />
      </a>

      <div>
        <h3 class="text-white md:text-2xl font-bold pb-4">Menu punkt</h3>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
      </div>
      <div>
        <h3 class="text-white md:text-2xl font-bold pb-4">Menu punkt</h3>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
      </div>
      <div>
        <h3 class="text-white md:text-2xl font-bold pb-4">Menu punkt</h3>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
        <p class="pb-3 text-xs md:text-white">Lorem ipsum</p>
      </div>
      <div class="flex justify-items-end">
        <Image src={IG} alt="Logo" />
        <Image src={FB} alt="Logo" />
      </div>
    </div>
  </div>
</div>
