---
import GridCard from "@/components/cards/GridCard1_1.astro";
---

<img class="ml-auto mb-[-1px]" src="src/assets/images/vector/HjørneGold.svg" alt="Vector Hjørne" />
<section id="frivillig" class="bg-GoldenGrain-300 py-30 px-[167px] w-full">
  <GridCard
    title="Bliv frivillig "
    text1="Grønt Marked drives af frivillige, og der er mange måder at bidrage på – især på selve markedsdagene, hvor man f.eks. hjælper med at sætte telte og skilte op, pakke ned, eller står for sociale aktiviteter som gåture og gårdmiddage."
    text2="Vagterne er fleksible og varer typisk 3-4 timer, og du behøver ikke være medlem for at være med – alle hænder og ideer er velkomne! Vi er en international gruppe, der ønsker at gøre markedet til et sted, hvor man kan møde ligesindede og bidrage til en mere bæredygtig madkultur."
    text3="Har du lyst til at være fotograf, arrangere et event eller noget helt tredje, hører vi meget gerne fra dig!"
    bbtext="Bliv frivillig"
    bblink=""
  />
</section>
<img
  class="mt-[-1px] rotate-180"
  src="src/assets/images/vector/HjørneGold.svg"
  alt="Vector Hjørne"
/>
