---
import Button from "./Button.astro";
---

<section class="layout w-full px-5 lg:px-0">
  <div class="layout">
    <h2 class="text-MarketMidnight-500 mb-[34px]">Os bag Grønt Marked</h2>
    <section class="flex justify-center mb-52">
      <div class="flex flex-wrap gap-[68px]">
        <div class="w-full lg:w-4/9">
          <p class="text-MarketMidnight-500 mb-[24px]">
            Vi er et lille, dedikeret team, som alle brænder for markedet. Vi arbejder hårdt på at
            skabe en oplevelse, der både er tilfredsstillende for de lokale landmænd og giver en
            fantastisk oplevelse for alle, der besøger markedet. Vi mener at, det skal være en glæde
            at tage ud og købe frisk mad fra lokale bønder – samtidig med at man som producent får
            muligheden for at møde, tale med sine kunder.
          </p>
          <p class="text-MarketMidnight-500 mb-[24px]">
            Vi arbejder alle ved siden af, og vi kommer alle fra forskellige hjørner af
            fødevaresystemet, hvilket giver os en unik forståelse af værdien af lokale og
            bæredygtige fødevarer. Sammen organiserer og driver vi Grønt Marked. Men vi er langt fra
            alene – der er mange mennesker, som bidrager med tid, energi og gode idéer.
          </p>
        </div>
        <div class="w-full lg:w-4/9">
          <h4 class="text-MarketMidnight-500">Bliv en del af Grønt Marked</h4>
          <p class="text-MarketMidnight-500 mb-[24px]">
            Grønt Marked eksisterer takket være vores engagerede frivillige og støttende fællesskab.
          </p>
          <p class="text-MarketMidnight-500 mb-[24px]">
            Hvis ønsker at arbejde sammen med os som producent, eller lære mere om, hvordan du kan
            bidrage, støtte eller blive frivillig, kan du finde yderligere information via
            knapperne.
          </p>
          <p class="text-MarketMidnight-500 mb-[24px]">Herunder kan du læse mere om, hvem vi er.</p>

          <div class="flex gap-5 mt-10">
            <a href=""> <Button variant="primary" size="large">Støt Grønt Marked</Button></a>
            <a href=""><Button variant="secondary" size="large">Bliv producent</Button></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
