---
import ProducentCard from "./ProducentCard.astro";
---

<img class="ml-auto mb-[-1px]" src="src/assets/images/vector/HjørneGold.svg" alt="Vector Hjørne" />
<section id="markederne" class="bg-GoldenGrain-300 py-30 px-[167px]">
  <h2>Udover søndagsmarkederne</h2>
  <p class="mb-20 w-1/2">
    Udover vores søndagsmarkeder tilbyder vi en række spændende oplevelser, som du kan læse mere om
    herunder. Ønsker du at booke en oplevelse, kan du nemt gøre det i vores
    <a class="underline" href="/kalender">kalender</a>.
  </p>
  <div class="flex flex-row flex-wrap gap-[100px] w-full max-w-300 m-auto">
    <ProducentCard
      title="Gårdbesøg"
      image="/src/assets/images/arrangementer/6.webp"
      tekst="Vi arrangerer ture til nogle af de gårde, der er en del af Grønt Marked. Her får du en rundvisning, frokost og mulighed for at stille spørgsmål direkte til landmanden. Det er en lærerig oplevelse – og en unik chance for at se, hvor forskelligt landbrug kan se ud i praksis."
    />
    <ProducentCard
      title="Workshops"
      image="/src/assets/images/arrangementer/7.webp"
      tekst="Vi samarbejder med dygtige producenter, fra kombucha og ølbryggere til oste- og marmeladeproducenter, som gerne deler deres viden og håndværk. Sammen afholder vi forskellige workshops, hvor du kan lære og blive inspireret af deres ekspertise."
    />
    <ProducentCard
      title="Middage for biodiversitet"
      image="/src/assets/images/arrangementer/8.webp"
      tekst="Vi afholder middage med Lille Bakery, hvor én dansk råvare er i fokus. Aftenen starter med et kort oplæg, efterfulgt af fællesspisning og samtaler om råvarens smag, historie og betydning. Pris: ca. 250–300 kr. pr. person."
    />
    <ProducentCard
      title="WFMC"
      image="/src/assets/images/arrangementer/9.webp"
      tekst="Siden 2021 har Grønt Marked været en del af World Farmers Markets Coalition, som vi medstiftede i 2022. Her deler vi viden og inspiration med markeder verden over – for et mere retfærdigt fødevaresystem."
    />
    <ProducentCard
      title="Grønt Marked Køkken"
      image="/src/assets/images/arrangementer/10.webp"
      tekst="Grønt Marked Køkken laver mad med lokale, sæsonbaserede råvarer hver søndag på markedet. Vi tilbyder også catering, private middage og workshops."
    />
    <ProducentCard
      title="Høstfest"
      image="/src/assets/images/arrangementer/11.webp"
      tekst="I 2022 startede vi traditionen med Harvest Festival – en fejring af sæsonens høst med marked, talks, madboder, musik og workshops for både børn og voksne. Vi glæder os allerede til næste gang!"
    />
  </div>
</section>
<img class="mt-[-1px] rotate-180" src="src/assets/images/vector/HjørneGold.svg" alt="" />
